@import "variables.scss";
@import "fnsfonts.css";

.gym-services {
    &__content {
        padding: 65px 0px;
        position: relative;
    }

    &__text p {
        color: rgba(255, 255, 255, 1);
        font-family: "Outfit-Regular";
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: -0px;
        text-align: left;
        line-height: 28px;
        padding-left: 30px;
    }

    &__text-wrapper {
        display: flex;
    }

    &__heading {
        border: 5px solid rgba(255, 255, 255, 1);
        border-bottom: 0;
        width: 450px;
        margin-left: 10px;
    }

    &__head {
        margin: 50px 0px 10px 10px;
        opacity: 1;
        color: rgba(255, 255, 255, 1);
        font-family: "BebasKai";
        font-size: 50px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0px;
        text-transform: uppercase;

    }

    &__head_services {
        background-color: black;
        margin: 2px;
        display: block;
        opacity: 1;
        height: 74px;
        color: rgba(252, 201, 33, 1);
        font-family: "BebasKai";
        font-size: 90px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0px;
        line-height: 74px;
    }

    .athletes_video {
        height: 240px;
        min-width: 430px;
        max-width: 430px;
        border: 5px solid rgba(255, 255, 255, 1);
        padding: 10px;
        border-top: 0;
        margin-left: 10px;
    }
}