@import "variables.scss";
@import "fnsfonts.css";

.navbar-wrapper {
    position: relative;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;

    &__logo-wrap {
        display: inline-block;
        max-width: 80px;
    }

    &__logo-img {
        width: 100%
    }

    &__menu {
        display: flex;
        list-style-type: none;
    }

    &__link {
        color: var(--main-color-white);
        padding-right: var(--spacers-point-two);
        text-decoration: none;
        font-family: "Outfit-Regular";
        font-size: 14px;
        font-weight: 100;
        font-style: normal;
        text-align: left;
        height: 10px;
        margin: 0 16px;

        &:hover {
            text-decoration-thickness: 1.4px;
            text-decoration-line: underline;
            text-decoration-color: #B31313;
            text-underline-offset: 4px;
            font-weight: bold;
        }

    }

    &__content {
        display: flex;
        align-items: center;
        z-index: 2;
        justify-content: space-between;
        position: relative;
        padding-top: 15px;
        background:linear-gradient(to top, transparent 9%, black 95%);

    }

    &__dropdown {
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5);
        background-color: rgba(255, 255, 255, 1);
        display: none;
        position: absolute;
        z-index: 1;
        font-family: "Outfit-Regular";
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        text-align: left;
		margin-top: 5px;
    }

    &__dropdown a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .fa {
        margin-left: 5px;
    }

}
