@font-face {
    font-family: Outfit-Regular;
    src: url(../fonts/Outfit-Regular.ttf);
}

@font-face {
    font-family: Outfit-Medium;
    src: url(../fonts/Outfit-Medium.ttf);
}

@font-face {
    font-family: BebasKai;
    src: url(../fonts/BebasKai.ttf);
}